html{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p,center{
    color:rgb(209, 24, 116);
}
h1{
    color:rgb(90, 13, 64);
    font-size: 50px;
    text-align: center;
}
li{
    font-size:15px;
    line-height: 2;
    letter-spacing: 1;
    color:rgb(223, 30, 159)
    
}
body{
    width:" 600px ";
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    background-color: rgb(241, 176, 236);
    border: 100px solid rgb(240, 112, 186) ;

}
